@tailwind base;
:root {
  --primary: #041c32;
  --secondary: cornflowerblue;
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

@tailwind components;
@tailwind utilities;

.movie-container {
  @apply flex gap-3 overflow-x-scroll px-3 py-6;
}
.movie-card {
  @apply min-w-[160px] object-cover w-40  hover:scale-110 hover:-translate-y-1 duration-300 ease-in-out hover:text-primary;
}

.rating-text {
  @apply text-white text-sm mt-3;
}

.movie-title {
  @apply text-white text-base overflow-hidden hover:cursor-pointer;
}

.show-detail {
  @apply hover:cursor-pointer hover:text-primary;
}
