@tailwind base;
:root {
  --primary: #041c32;
  --secondary: cornflowerblue;
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

*::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: 'Roboto', sans-serif;
  }
}

body {
  @apply bg-dark;
}
main {
  @apply container;
}
movie-container {
  @apply flex gap-3 overflow-x-scroll px-3 py-6;
}
.section-title {
  @apply text-white text-xl px-3;
}

.movie-card {
  @apply min-w-[160px] object-cover w-40  hover:scale-110 hover:-translate-y-1 duration-300 ease-in-out hover:text-primary;
}

.movie-card-poster {
  @apply min-h-[240px] object-cover rounded-md bg-cover;
}
.rating-text {
  @apply text-white text-sm mt-3;
}

.movie-title {
  @apply text-white text-base overflow-hidden hover:cursor-pointer;
}

.show-detail {
  @apply hover:cursor-pointer hover:text-primary;
}

header {
  @apply container flex;
}
app-bar {
  @apply py-4;
}
.logo {
  @apply my-auto text-2xl px-3 font-bold text-transparent bg-clip-text bg-gradient-to-tr from-white to-primary;
}

search-bar {
  @apply ml-auto py-4 my-auto lg:w-96;
}

.input-search {
  @apply w-full lg:w-96 text-white pl-3 pr-10 py-2 rounded-lg lg:block ml-auto bg-dark border border-t-0 border-r-0 border-l-0 border-b-secondary focus:ring-primary focus:border-primary focus:outline-none;
}

.loader-icon {
  @apply z-10 text-white rounded-r-xl absolute py-2 px-2 -top-[18px] lg:top-[1px]  -right-1 my-auto animate-spin-slow;
}

.btn-show-search {
  @apply text-white absolute lg:opacity-50 -top-[10px] lg:top-2 right-3 my-auto hover:cursor-pointer;
}

movie-container {
  @apply bg-dark flex;
}

footer {
  @apply py-5 flex flex-col justify-center mt-12;
}

vendor-logo {
  @apply mx-auto w-fit;
}
